<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            <h1>Deploying a node application with gulp and Elastic Beanstalk!</h1>
            <p>Molestie lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna.</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/onimenotsuki/node-gulp-elasticbeanstalk" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
